.change-password .card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid red;
}

.change-password .profile-photo {
  width: 100%;
  /* border: 1px solid red; */
  background-color: var(--light-blue);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.change-password .profile-photo img {
  width: 200px;
  height: 200px;
  border: 1px solid #030b6b;
  border-radius: 50%;
}

.change-password .profile-photo h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.change-password form label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
}

.change-password form input[type="text"],
.change-password form input[type="number"],
.change-password form input[type="file"],
.change-password form input[type="email"],
.change-password form select,
.change-password form textarea,
.change-password form input[type="password"] {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
}

/* .change-password form textarea {
  width: 100%;
} */
