.profile .card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #030b6b;
}

.profile .profile-photo {
  width: 100%;
  background-color: var(--light-blue);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.profile .profile-photo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 50%;
}

.profile .profile-photo h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.profile form label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
}

.profile form input[type="text"],
.profile form input[type="number"],
.profile form input[type="file"],
.profile form input[type="email"],
.profile form select,
.profile form textarea,
.profile form input[type="password"] {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
}
